<div id="jobs">
  <div class="job">
    <h2><%= @job.title %></h2>
    <p><%= @job.created_at.strftime("%b %d") %></p>
    <p><%= @job.location %></p>
    <p><%= @job.description.html_safe %></p>
    <p><%= @job.how_to_apply.html_safe %></p>
    <br/>
    <p><%= @job.company %></p>
    <p><%= @job.url %></p>
    <button class="btn btn-default"><%= link_to "Apply for Job", @job.url %></button>
  </div>
</div>
<div id="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default" %>
  <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>
</div>
